

.main{

  // width: 1920px;
}

.container1{
margin-left: auto;
margin-right: auto;
width:150px;

}
.main-fenlei{
height: 460px;
margin-top: 30px;
}
.main-fenlei_left{
  width:274px;
  height:460px;
  background-color: #666;
  float: left;
}

    // 商品分类 left
.main-fenlei_left>ul{
  height:460px;
  padding-top: 15px;
  margin: 0;
}
.main-fenlei_left>ul>li{
height: 42px;
font-size: 14px;
color: #fff;
padding-left: 20px;
list-style: none;
z-index: 1000;

}
.main-fenlei_left span{
  line-height: 45px;
}
.main-fenlei_left >ul li:hover{
  background-color: #ff6700;
}
// }
   // 分类商品详情 鼠标移上
.main-fenlei_left_model_box{
  position: absolute;
  top:220px;
}
.main-fenlei_left_model{
  height: 460px;
  width:500px;
  background-color: #fff;
  border:1px solid #e1e1e1;
  border-left: none;
  position:absolute;
  box-shadow:0 1px 1px 1px #e0e0e0;
  left:274px;
  top:20px;
  z-index: 100;
}
.main-fenlei_left_model>ul {
  list-style: none;
  margin-left:40px;
  margin-top: 10px;
}
.main-fenlei_left_model>ul>li{
  margin-bottom: 20px;
}
.main-fenlei_left_model ul a{
  text-decoration: none;

}

// 轮播图

.main-fenlei_right{
  height:460px;
  float: left;
}
.span_left{
  display: inline-block;
  width:42px;
  height: 69px;
  background: url(../../assets/img/icon/icon-slides.png);
  position: absolute;
  left:30px;
  top:185px;
}
.span_right{
  display: inline-block;
  width:42px;
  height: 69px;
  background: url(../../assets/img/icon/icon-slides.png) -42px 0;
  position: absolute;
  top:185px;
  right: 30px;
}

.carousel-inner div:hover{
  cursor: pointer;
}


// 商品详细信息
.main-xiangxi{
overflow: hidden;
margin-top: 50px;
margin-bottom: 30px;
}
.main-xiangxi_box{
width: 100%;
overflow: hidden;
}
.main-xiangxi_box div span{
  display: block;
  border-top: 2px solid #ff6700;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-xiangxi_box div{
  width: 25%;
  float: left;
}
.main-xiangxi_box div a{
display: block;
width: 320px;
margin-left: auto;
margin-right: auto;
}


.main-tuijian{
overflow: hidden;


}
.main-tuijian_box{
width: 100%;
}
.main-tuijian_box span{
  display: block;
  border-top: 2px solid #ff6700;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-tuijian_box div{
  width: 25%;
  float: left;
  height: 320px;


}
.main-tuijian_box div a{
  display: inline-block;
  margin-left: 115px;
  margin-top: 90px;
}
