


.main-header{
  overflow: hidden;

}
.main-topbar{
  height: 60px;

  background-color: #333;
  color:#b0b0b0;
  font-size: 14px;


}
// header开始

.main-topbar_left{
  float: left;
  width: 70%;
line-height: 60px;

}
.main-topbar_left ul{
margin: 0;
padding: 0;
text-decoration: none;
}
.main-topbar_left ul li{
  list-style: none;
  float:left;
  margin: 0;
  padding: 0;
  padding-left: 60px;
}
.main-topbar_left ul li a{
  text-decoration: none;
    color:#b0b0b0;
}
.main-topbar_left ul li a:hover{
  color: #fff;
}
.main-topbar_right{
  float:right;
  width: 30%;
  line-height: 60px;
}
.main-topbar_right_box{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-topbar_right div{
  float:left;
  margin-left: 30%;
}
.main-topbar_right div a{
    color:#b0b0b0;
    text-decoration: none;
}
.main-topbar_right div a:hover{
  color:#fff;
  cursor: pointer;
}
// 头部结束

// 头部工具条和搜索框开始
.container1{
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.main-header{
  margin-top: 40px;
  font-size: 20px;

  overflow: hidden;
}
.main-header_left{
width: 10%;
float: left;
}
.main-header_left a{
  display: inline-block;
  width:56px;
  height: 57px;
  border: 1px solid red;
  background: url(../../assets/img/icon/logo-footer.png) no-repeat;
  // position: absolute;

}
.main-header_center{
width: 60%;
float: left;
}
.main-header_center ul {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 90px;
  list-style: none;
  display:flex;
  justify-content:space-between;
}
.main-header_center ul li {
  float: left;
  width: 12%;
  height: 90px;
  text-align: center;
}
.main-header_center ul li a{
  text-decoration: none;
    color:#656565;
}
.main-header_center ul li a:hover{
  color:#ff6700;
}
.main-header_right{
  width: 30%;
  float: right;
}
.main-header_right_box{
  margin-left: 22%;
}
.main-header_right span{
  width: 60px;
  height: 50px;
  display: inline-block;
}
.main-header_right input{
  display: inline-block;
  height:50px;
  border:1px solid #e0e0e0;
  border-right:none;
  line-height: 80px;
  color:#919191;
  font-size: 14px;
  padding-left: 10px;
  width:200px;
}
.main-header_right input:focus{
  border-color: #ff6700;
}
// 搜索框弹出信息
.main-header_right_sousuo{
width:280px;
border: 1px solid red;
z-index:1000;
position:absolute;

overflow: hidden;
border-top: none;
}
.main-header_right_sousuo li{
  width:240px;
  height: 50px;
  list-style: none;
  font-size: 14px;
  color:#919191;
  margin: 0;
  padding: 0;
  margin-left:20px;
}
.main-header_right_sousuo li:hover{
  cursor: pointer;
}
.main-header_right_sousuo ul span{
  float: left;
  display: inline-block;
  width: 100px;
  color: #929292;
  height: 0;
  line-height: 50px;
}
.main-header_right_sousuo ul i{
  float: right;
  display: inline-block;
  width: 100px;
  line-height: 50px;
  text-align: right;
  color:#bdbdbd;
}
.main-header_right p{
  display: inline-block;
  background-color: #ff6700;
  color: #fff;
  height: 50px;
  padding-right:10px;
  padding-left: 10px;
  margin: 0;
  position: absolute;
}
.main-header_right span{
line-height: 50px;
font-size: 14px;
color: #fff;
}
.main-header_right p:hover {
  cursor: pointer;
}

.main-header_model{

  height: 250px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-left: none;
  border-right: none;
  position: absolute;
  box-shadow:0 0 1px 2px #e0e0e0;
  left:0px;
  top:180px;
  z-index: 100;


}

// 分类鼠标移上事件
.main-header_tupian{
overflow: hidden;

}
.main-header_tupian>span{
  display: block;
  border-right: 2px solid #e3e3e3;
  height: 180px;
  float: left;
  margin-top: 25px;
}

.main-header_tupian>div{
  width:160px;
   height: 250px;
   float: left;
   margin-right: 50px;
   margin-left: 50px;
}
.main-header_tupian div.neirong{
  width: 100%;
  height:180px;
  margin-top: 30px;

}
.main-header_tupian div.one1:hover{
  cursor: pointer;
  p span{
    font-size: 19px;
  }
}
.main-header_tupian div p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 50px;
  margin-top: 10px;

}

.main-header_tupian div span{
  color:red;
}
// main header 结束
// 商品分类开始
